<div class="col-md-12">
	<div class="media blog-media">
		<div class="image_section">
			<a href="blog-post-left-sidebar.html"><img src="<%= transact.icon%>"
				alt="Group Image" height="200" width="200"></a>
		</div>
		<div class="card">
			<div class="card-header">
				<a href="/group_transactions/<%=transact.id%>">
					<%=transact.name%>
				</a>
			</div>
			<div class="card-body"><%=transact.name%></div>
			<div class="media-info">
				<ul>
					<li>
						Total Expense: $<%= @totals[index] %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
